*{
	margin: 0;

}
body{
    background:url(https://images.unsplash.com/photo-1598662779094-110c2bad80b5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=815&q=80) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.bar{
    
    background: #76def3;
    text-align: center;
    color: white;
    
}
.txt{
    
    background:rgba(0,0,0,.5);
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn01{
    
    background:rgba(0,0,0,.5);
    justify-content: center;
    padding: 40px 20px 20px 20px;;
}
.btn02{
    background:rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    padding:20px 20px 40px 20px;
}


.result{
    background:rgba(0,0,0,.5);
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}